venv/
__pycache__/
*.pyc
.DS_Store
.env
.static/img/*
.gitignore

.idea/
.vscode/
*.log
node_modules/
dist/
build/
*.sqlite3
*.db
*.bak
*.swp
*.tmp
coverage/reports/
htmlcov/
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.cache/
